/*Global*/
:root {
    /*Color*/
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #5e5e5e;
    --color-light-grey: #7c7979;
    --color-blue: #0065e9;
    --color-skyblue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /*Font-size*/
    --font-biglarge:60px;
    --font-smalllarge:45px;
    --font-large: 35px;
    --font-medium: 25px;
    --font-semi-regular: 20px;
    --font-regular: 17px;
    --font-small: 14px;
    --font-micro: 12px;
  
    /*Font-weight*/
    --weight-bold: 700;
    --weight-close-bold: 600;
    --weight-semi-bold: 500;
    --weight-regular: 400;
    --weight-thin: 200;
  
    /*Radius*/
    --size-border-radius: 50%;
  }

  /*Universal tags*/

  @font-face { font-family: 'NotoSansKR'; 
		font-display: auto;
		font-style: normal;
		font-weight: 100;
		src: 	url(img/NotoSansKR-Thin.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  src: 	url(img/NotoSansKR-Light.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: 	url(img/NotoSansKR-Regular.woff2) format('woff2'), 
					url(img/NotoSansKR-Regular.woff) format('woff'), 
					url(img/NotoSansKR-Regular.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: normal; 
  font-weight: 500;
  src: 	url(img/NotoSansKR-Medium.woff2) format('woff2'), 
					url(img/NotoSansKR-Medium.woff) format('woff'), 
					url(img/NotoSansKR-Medium.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: bold; 
  font-weight: 700;
  src: 	url(img/NotoSansKR-Bold.woff2) format('woff2'), 
        url(img/NotoSansKR-Bold.woff) format('woff'), 
        url(img/NotoSansKR-Bold.otf) format('opentype'); }
          
  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: bold; 
  font-weight: 900;
  src: 	url(img/NotoSansKR-Black.otf) format('opentype'); }

  * {
    box-sizing: border-box;
    font-family: 'NotoSansKR', sans-serif;
    image-rendering: -webkit-optimize-contrast;
  }

  html, body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
      position: relative;
  }
  
  body {
    cursor: default;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: var(--color-black);
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
    font-size: var(--font-regular);
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 0;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-close-bold);
    color: var(--color-black);
    margin: 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 0;
    color: var(--color-grey);
  }


  /* fade-in, out */
.fade-class {
  left: 200px;
  opacity: 0;
  transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
}
.fade-in {
  transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
  left: 0px;
  opacity: 1;
  position: relative;
}


/*header*/
#header{
  height: 300px;
  width: 100%;
  border-bottom: 1px solid #e1e1e5;
  background: no-repeat url(img/displayheader.png) ;
}
.header__wrap{
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
}
.header__title{
  padding-top: 100px;
  font-size: var(--font-smalllarge);
  color: white;
}
.header__nav{
  margin-top: 80px;
  height: 54px;
  line-height: 53px;
  display: flex;
}
.header__menu{
  border: 1px solid #e1e1e5;
  background-color: white;
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.header__menu a{
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.subactive{
  background-color: #eef8ff;
  border: 1px solid #3086f6;
}
.subactiveA{
  color: #3086f6;
  font-weight: var(--weight-bold);
}
.header__menu:hover {
  background-color: #eef8ff;
  border: 1px solid #3086f6;
  color: #3086f6;
  font-weight: var(--weight-bold);
}


/*공통된 title과 description*/
.sub__title{
  text-align: center;
  padding-top: 100px;
}
.sub__description{
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0;
  color: var(--color-grey);
  text-align: center;
  margin-top: 10px;
}


/*디스플레이 운영관리 소개*/
#dsInformation{
  height: 650px;
}
.dsInformation__img{
  width: 920px;
  height: 285px;
  line-height: 285px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  object-fit: cover;
}
.sub__paragraph{
  text-align: center;
  margin-top: 20px;
}
.sub__paragraph span{
  font-weight: var(--weight-bold);
  color: black;
}


/*디스플레이 서비스 구분*/
#dsDivide{
  background-color: #f3f3f8;
  height: 1000px;
}
#dsDivide h1{
  padding-top: 200px;
}

.dsDivide__wrap{
  max-width: 1260px;
  height: 550px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
}
.dsDivide__container{
  width: 100%;
  height: 100%;
  margin: 0 10px;
  position: relative;
}
.dsDivide__img{
  width: 100%;
  height: 200px;
  display: block;
}

/*dsDivide__img background img*/
div.dsDivide__wrap div:nth-child(1) div{
  background: no-repeat url(img/dsDivideimg01.png);
}
div.dsDivide__wrap div:nth-child(2) div{
  background: no-repeat url(img/dsDivideimg02.png);
}


.dsDivide__title{
  width: 360px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50px;
  color: white;
  background-color: #3086f6;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  z-index: 3;
  position: absolute;
  top: 160px;
  left: 20%;
}
.dsDivide__title i{
  margin-right: 20px;
  font-size: 30px;
}
.dsDivide__smallConatiner{
  padding-top: 80px;
  height: 350px;
  background-color: white;
}
.dsDivide__item{
  width: 400px;
  height: 60px;
  line-height: 55px;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #3086f6;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.075), 0 10px 10px rgba(0, 0, 0, 0.034);
}

/*디스플레이 유지관리 작업순서*/
#dsProcedure{
  height: 1000px;
}
#dsProcedure h1{
  padding-top: 200px;
}

.dsProcedure__wrap{
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
}
.dsProcedure__container{
  display: flex;
}
.dsProcedure__item{
  width: 100%;
  flex-basis: auto;
  position: relative;
}

.dsProcedure__img{
  display: block;
  width: 247px;
  height: 247px;
  text-align: center;
  line-height: 247px;
  margin: 0 auto;
}
.dsProcedure__title{
  text-align: center;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-semi-regular);
  margin-top: 30px;
}
.dsProcedure__description{
  text-align: center;
  font-size: var(--font-semi-regular);
  margin-top: 10px;
}

/*화살표*/
.dsProcedure__container li:nth-child(1)::after{
  content: " ";
  display: block;
  width: 86px;
  height: 86px;
  position: absolute;
  top: 25%;
  right: -43px;
  background: url(img/dsProcedurearrow.png);
}
.dsProcedure__container li:nth-child(2)::after{
  content: " ";
  display: block;
  width: 86px;
  height: 86px;
  position: absolute;
  top: 25%;
  right: -43px;
  background: url(img/dsProcedurearrow.png);
}
.dsProcedure__container li:nth-child(3)::after{
  content: " ";
  display: block;
  width: 86px;
  height: 86px;
  position: absolute;
  top: 25%;
  right: -43px;
  background: url(img/dsProcedurearrow.png);
}

/*화면 구성 예시*/
#dsInterface{
  height: 1000px;
}

.dsInterface__wrap{
  max-width: 1282px;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
}
.dsInterface__left{
  width: 100%;
}
.dsInterface__right{
  width: 100%;
}

.dsInterface__title{
  height: 100px;
  line-height: 100px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  position: relative;
  padding-left: 80px;
}
.dsInterface__title::before{
  content: " ";
  display: block;
  width: 71px;
  height: 71px;
  top: 15px;
  left: 0;
  position: absolute;
  background: url(img/dsInterfaceimgcheck.png);
}

/*가로형 이미지*/
.dsInterface__container{
  display: flex;
  flex-wrap: wrap;
  width: 680px;
}
.dsInterface__img{
  display: block;
  outline: 1px solid rgb(223, 223, 223);
  width: 320px;
  height: 240px;
  margin: 10px;
}

/*세로형 이미지*/
.dsInterface__container2{
  display: flex;
  flex-wrap: wrap;
  width: 602px;
}
.dsInterface__img2{
  display: block;
  outline: 1px solid rgb(223, 223, 223);
  width: 281px;
  height: 500px;
  margin: 10px;
}

/*제공 콘텐츠 예시*/
#dsContent{
  width: 100%;
  height: 1000px;
  position: relative;
}

/*carousel*/
.dsContent__window{
  overflow: hidden;
  position: relative;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 73%;
  height: 440px;
  left: 36%;
  top: 80px;
  margin: 0 auto;
}
.dsContent__container{
  position: absolute;
  height: 440px;
}
.dsContent__item{
  height: 440px;
  display: inline-block;
  margin: 10px;
}

.dsContent__img{
  display: block;
  height: 330px;
  line-height: 330px;
  text-align: center;
}
.dsContent__title{
  margin-top: 20px;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-semi-regular);
}
.dsContent__description{
  margin-top: 5px;
}


/*이전버튼*/
.before__btn{
  position: absolute;
  top: 500px;
  left: 130px;
  width: 40px;
  height: 40px;
  background-image:url(img/before_btn.png);
}
.before__btn em{
  display: none;
}

/*이후버튼*/
.after__btn{
  position: absolute;
  top: 500px;
  right: 130px;
  width: 40px;
  height: 40px;
  background-image:url(img/after_btn.png);
}
.after__btn em{
  display: none;
}

/*주요실적 보기 버튼
.reference__btn{
  display: block;
  color: white;
  cursor: pointer;
  background: #1462ff;
  border-radius: 10px;
  box-shadow: 0 6px 30px -10px #4a74c9;
  width: 220px;
  height: 60px;
  margin: 0 auto;
  font-size: var(--font-semi-regular);
  margin-top: 130px;
  position: relative;
  text-indent: -10px;
}
.reference__btn::after{
  content: ">";
  font-size: var(--font-semi-regular);
  font-weight: var(--weight-bold);
  color: white;
  position: absolute;
  right: 30px;
}

.reference__btn:hover{
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}*/

