/*Global*/
:root {
    /*Color*/
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #5e5e5e;
    --color-light-grey: #7c7979;
    --color-blue: #0065e9;
    --color-skyblue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /*Font-size*/
    --font-biglarge:60px;
    --font-large: 35px;
    --font-medium: 25px;
    --font-semi-regular: 18px;
    --font-regular: 17px;
    --font-small: 14px;
    --font-micro: 12px;
  
    /*Font-weight*/
    --weight-bold: 700;
    --weight-close-bold: 600;
    --weight-semi-bold: 500;
    --weight-regular: 400;
    --weight-thin: 200;
  
    /*Radius*/
    --size-border-radius: 50%;
  }

  /*Universal tags*/

  @font-face { font-family: 'NotoSansKR'; 
		font-display: auto;
		font-style: normal;
		font-weight: 100;
		src: 	url(img/NotoSansKR-Thin.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  src: 	url(img/NotoSansKR-Light.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: 	url(img/NotoSansKR-Regular.woff2) format('woff2'), 
					url(img/NotoSansKR-Regular.woff) format('woff'), 
					url(img/NotoSansKR-Regular.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: normal; 
  font-weight: 500;
  src: 	url(img/NotoSansKR-Medium.woff2) format('woff2'), 
					url(img/NotoSansKR-Medium.woff) format('woff'), 
					url(img/NotoSansKR-Medium.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: bold; 
  font-weight: 700;
  src: 	url(img/NotoSansKR-Bold.woff2) format('woff2'), 
        url(img/NotoSansKR-Bold.woff) format('woff'), 
        url(img/NotoSansKR-Bold.otf) format('opentype'); }
          
  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: bold; 
  font-weight: 900;
  src: 	url(img/NotoSansKR-Black.otf) format('opentype'); }

  * {
    box-sizing: border-box;
    font-family: 'NotoSansKR', sans-serif;
    image-rendering: -webkit-optimize-contrast;
  }

  html, body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
  }
  
  body {
    cursor: default;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: var(--color-black);
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
    font-size: var(--font-regular);
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 0;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-close-bold);
    color: var(--color-black);
    margin: 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 0;
    color: var(--color-grey);
  }


  

/*Navbar*/
#nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 80px;
  z-index: 5;
  transition:.5s;
  border-bottom:1px solid #7c7c7c71;
}

/*logo와 menu를 플렉스해서 flex-basis로 자리차지*/
.nav__logo{
  text-align: right;
  width: 220px;
  height: 35px;
  flex-basis: 17%;
  margin-top: 20px;
  margin-right: 50px;
}
.nav__menu{
  flex-basis: 70%;
}

/*메인 메뉴*/
.nav__menu__container{
  display: flex;
  width: 100%;
  height: 100%;
}
.nav__menu__item{
  width: 100%;
  text-align: center;
}

#mainmenu{
  display: block;
  color: white;
  width: 65%;
  height: 100%;
  line-height: 80px;
  margin: 0 auto;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-semi-regular);
}

.nav__menu__item:hover #mainmenu{
  border-bottom:2px solid #0065e9;
  color: #0065e9 !important;
  font-weight: var(--weight-bold);
}

/*서브 메뉴*/
.nav__submenu__container{
  display: none;
  padding-top: 10px;
}
.nav__submenu__item{
  height: 40px;
  line-height: 40px;
}

.nav__submenu__item a{
  font-size: 16px;
}

.nav__submenu__item a:hover{
  color: #0065e9;
}

.nav__submenu__bg{
  width: 100%;
  height: 310px;
  background-color: white;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  border-bottom:1px solid #7c7c7c71;
}


/*문의하기 버튼*/

.nav__menu__lastitem{
  flex-basis: 13%;
}
.contactbtn{
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  display: block;
  width: 135px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  color: black;
  background-color: #FFFFFF;
  border-radius: .2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.contactbtn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.contactbtn:focus-visible {
  box-shadow: none;
}

.contactbtn:hover{
  background-color: #3086f6;
  color: white;
  transition: all 0.3s;
}

/*문의하기 버튼 2*/
.contactbtn2{
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  display: block;
  width: 135px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  color: white;
  background-color: #3086f6;
  border-radius: .2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.contactbtn2:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.contactbtn2:focus-visible {
  box-shadow: none;
}

.contactbtn2:hover{
  background-color: #b1db53;
  color: #000000;
  transition: all 0.3s;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: no-repeat url(img/top_btn.png);
  color: black;
  cursor: pointer;
  padding: 16px;
  border-radius: 4px;
  font-weight: var(--weight-bold);
  text-indent: 50px;
}

#myBtn:hover {
  background: no-repeat url(img/top_btnhover.png);
  color: #7fc41c;
}


/*toggle button
.navbar__toggle-btn{
  position: fixed;
  right: 20px;
  top: 15px;
  width: 60px;
  height: 50px;
  outline: 1px solid rgb(199, 199, 199);
  background-color: #fff;
  border-radius: 5px;

}
.navbar__toggle-btn img{
  margin-top: 1px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
*/