/*Global*/
:root {
    /*Color*/
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #5e5e5e;
    --color-light-grey: #7c7979;
    --color-blue: #0065e9;
    --color-skyblue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /*Font-size*/
    --font-biglarge:60px;
    --font-smalllarge:45px;
    --font-large: 35px;
    --font-medium: 25px;
    --font-semi-regular: 20px;
    --font-regular: 17px;
    --font-small: 14px;
    --font-micro: 12px;
  
    /*Font-weight*/
    --weight-bold: 700;
    --weight-close-bold: 600;
    --weight-semi-bold: 500;
    --weight-regular: 400;
    --weight-thin: 200;
  
    /*Radius*/
    --size-border-radius: 50%;
  }

  /*Universal tags*/

  @font-face { font-family: 'NotoSansKR'; 
		font-display: auto;
		font-style: normal;
		font-weight: 100;
		src: 	url(img/NotoSansKR-Thin.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  src: 	url(img/NotoSansKR-Light.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: 	url(img/NotoSansKR-Regular.woff2) format('woff2'), 
					url(img/NotoSansKR-Regular.woff) format('woff'), 
					url(img/NotoSansKR-Regular.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: normal; 
  font-weight: 500;
  src: 	url(img/NotoSansKR-Medium.woff2) format('woff2'), 
					url(img/NotoSansKR-Medium.woff) format('woff'), 
					url(img/NotoSansKR-Medium.otf) format('opentype'); }

  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: bold; 
  font-weight: 700;
  src: 	url(img/NotoSansKR-Bold.woff2) format('woff2'), 
        url(img/NotoSansKR-Bold.woff) format('woff'), 
        url(img/NotoSansKR-Bold.otf) format('opentype'); }
          
  @font-face { font-family: 'NotoSansKR'; 
  font-display: auto;
  font-style: bold; 
  font-weight: 900;
  src: 	url(img/NotoSansKR-Black.otf) format('opentype'); }

  * {
    box-sizing: border-box;
    font-family: 'NotoSansKR', sans-serif;
    image-rendering: -webkit-optimize-contrast;
  }

  html, body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
      position: relative;
  }
  
  body {
    cursor: default;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: var(--color-black);
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
    font-size: var(--font-regular);
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 0;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-close-bold);
    color: var(--color-black);
    margin: 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 0;
    color: var(--color-grey);
  }


  /* fade-in, out */
.fade-class {
  left: 200px;
  opacity: 0;
  transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
}
.fade-in {
  transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s linear;
  left: 0px;
  opacity: 1;
  position: relative;
}


/*header*/
#header{
  height: 300px;
  width: 100%;
  border-bottom: 1px solid #e1e1e5;
  background: no-repeat url(img/solutionheader.png) ;
}
.header__wrap{
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
}
.header__title{
  padding-top: 100px;
  font-size: var(--font-smalllarge);
  color: white;
}
.header__nav{
  margin-top: 80px;
  height: 54px;
  line-height: 53px;
  display: flex;
}
.header__menu{
  border: 1px solid #e1e1e5;
  background-color: white;
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.header__menu a{
  display: block;
  width: 100%;
  height: 100%;
}
.subactive{
  background-color: #eef8ff;
  border: 1px solid #3086f6;
}
.subactiveA{
  color: #3086f6;
  font-weight: var(--weight-bold);
}
.header__menu:hover {
  background-color: #eef8ff;
  border: 1px solid #3086f6;
  color: #3086f6;
  font-weight: var(--weight-bold);
}


/*공통된 title과 description*/
.sub__title{
  text-align: center;
  padding-top: 100px;
}
.sub__description{
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0;
  color: var(--color-grey);
  text-align: center;
  margin-top: 10px;
}

/*주요실적 보기 버튼*/
.reference__btn{
    display: block;
    color: white;
    cursor: pointer;
    background: #1462ff;
    border-radius: 10px;
    box-shadow: 0 6px 30px -10px #4a74c9;
    width: 220px;
    height: 60px;
    margin: 0 auto;
    font-size: var(--font-semi-regular);
    margin-top: 50px;
    position: relative;
    text-indent: -10px;
  }
  .reference__btn::after{
    content: ">";
    font-size: var(--font-semi-regular);
    font-weight: var(--weight-bold);
    color: white;
    position: absolute;
    right: 30px;
  }
  
  .reference__btn:hover{
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
  }

  
  /*DID 시스템 소개*/
  #didInformation{
    height: 650px;
  }

  .didInformation__img{
    margin-top: 20px;
  }
  .didInformation__paragraph{
    color: white;
    text-align: center;
    margin-top: -265px;
  }
  .didInformation__paragraph span{
    font-weight: var(--weight-bold);
    color: white;
  }

  /*DID PLUS 솔루션 기능*/
  #didFunction{
    background-color: #f3f3f8;
    height: 1000px;
  }
  #didFunction h1{
    padding-top: 150px;
  }
  .didFunction__container{
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      margin-top: 30px;
  }
  .didFunction__item{
      width: 100%;
      margin: 20px;
      position: relative;
      border-top: 3px solid #bfbfd1;
  }
  .didFunction__title{
      font-size: var(--font-medium);
      font-weight: var(--weight-bold);
      padding-left: 50px;
      padding-top: 50px;
  }
  .didFunction__title::before{
    content: "";
    display: block;
    width: 33px;
    height: 33px;
    background: no-repeat center url(img/meetFeatureIcon.png);
    position: absolute;
    left: 0;
    top: 52px;
  }

  .didFunction__description{
      padding-left: 50px;
      padding-top: 20px;
      padding-bottom: 50px;
  }
  .didFunction__img{
      display: block;
      height: 300px;
      line-height: 300px;
      text-align: center;
  }


  /*DID PLUS 솔루션 특징*/
#didFeatures{
  height: 1000px;
}
#didFeatures h1{
  padding-top: 200px;
}

#didFeatures2{
  height: 1000px;
  background-color: #f3f3f8;
}
#didFeatures2 h1{
  padding-top: 200px;
}

.didFeatures__container{
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
}
.didFeatures__left{
  width: 550px;
  height: 410px;
  background: no-repeat center url(img/didFeatureLeft.png);
}
.didFeatures__left2{
  width: 550px;
  height: 410px;
  background: no-repeat center url(img/didFeatureLeft2.png);
  position: relative;
}

/*good sticker*/
.didFeatures__left2::after{
  content: "";
  display: block;
  width: 82px;
  height: 82px;
  background-image: url(img/good.png);
  position: absolute;
  top: -40px;
  left: -40px;
  /*outline: 1px solid red;*/
}

/*left2안에 들어가는 글귀*/
.didFeatures__leftdescription{
  text-align: center;
  padding-top: 390px;
  color: #000000;
}

.didFeatures__leftdescription span{
  color: #0065e9;
  font-weight: var(--weight-bold);
}


.didFeatures__right{
}
.didFeatures__item{
  border: 1px solid #cdcdcd;
  width: 800px;
  height: 130px;
  margin-left: 35px;
  margin-bottom: 10px;
  display: flex;
  background-color: white;
}
/*이미지*/
.didFeatures__img{
  display: block;
  width: 90px;
  height: 90px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 70px;
  text-align: center;
  line-height: 83px;
  font-size: var(--font-small);
  object-fit: cover;
}
/*텍스트*/
.didFeatures__title{
  font-size: var(--font-semi-regular);
  font-weight: var(--weight-bold);
  padding-top: 20px;
}
.didFetures__description{
  padding-top: 10px;
}

/*DID 솔루션 기능 비교*/
#didCompare{
  height: 1000px;
  padding-top: 50px;
  /*이건 어쩔 수 없이 h1이 아닌 section에 padding값 넣었음.*/
}
.didCompare__container{
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}
.didCompare__left{
  width: 100%;
  margin-right: 15px;
}

.didCompare__right{
  width: 100%;
  margin-left: 15px;
}

/*DID PLUS 로컬*/
.didCompareleft__title{
  border-bottom: 4px solid black;
  height: 100px;
  line-height: 100px;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-align: center;
}
.didCompareleft__title span{
  color: #0065e9;
}
.didCompareleft__container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.didCompareleft__item{
  color: #5e5e5e;
  width: 47%;
  border-bottom: 1px solid #cfcfcf;
  margin: 10px;
  padding: 20px;
  text-indent: 30px;
  position: relative;
  font-size: var(--font-semi-regular);
}
.didCompareleft__item::after{
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 12px;
  background: no-repeat center url(img/didcomparelefticon.png);
}
.didCompareleft__img{
  display: block;
  width: 100%;
  height: 200px;
  object-fit: contain;
}



/*DID PLUS 웹*/
.didCompareright__title{
  border-bottom: 4px solid black;
  height: 100px;
  line-height: 100px;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-align: center;
}
.didCompareright__title span{
  color: #229985;
}
.didCompareright__container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.didCompareright__item{
  color: #5e5e5e;
  width: 47%;
  border-bottom: 1px solid #cfcfcf;
  margin: 10px;
  padding: 20px;
  text-indent: 30px;
  position: relative;
  font-size: var(--font-semi-regular);
}
.didCompareright__item::after{
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 12px;
  background: no-repeat center url(img/didcomparerighticon.png);
}
.didCompareright__img{
  display: block;
  width: 100%;
  height: 200px;
  object-fit: contain;
}

/*하드웨어 권장사양*/
.didCompare__hard{
  outline: 1px solid #cdcdcd;
  margin-top: 10px;
}
.didComparehard__title{
  text-align: center;
  color: white;
  font-weight: var(--weight-bold);
  background-color: #a1a1b4;
  height: 50px;
  line-height: 50px;
}
.didComparehard__description{
  height: 80px;
  line-height: 80px;
  text-align: center;
}

/*가운데 sticker*/
.didCompare__left::after{
  content: "";
  width: 170px;
  height: 170px;
  background: no-repeat center url(img/didcomparemiddleicon.png);
  position: absolute;
  top: 60%;
  left: 44%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 100px;
}