/*Global*/
:root {
    /*Color*/
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #5e5e5e;
    --color-light-grey: #7c7979;
    --color-blue: #0065e9;
    --color-skyblue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /*Font-size*/
    --font-biglarge:60px;
    --font-large: 35px;
    --font-medium: 25px;
    --font-regular: 17px;
    --font-small: 14px;
    --font-micro: 12px;
  
    /*Font-weight*/
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    --weight-thin: 200;
  
    /*Radius*/
    --size-border-radius: 50%;
  }

  /*Universal tags*/

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
  * {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }

  html, body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
  }
  
  body {
    cursor: default;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: var(--color-black);
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
    font-size: var(--font-regular);
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 0;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 0;
    color: var(--color-grey);
  }



/*Navbar*/
#nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 80px;
  z-index: 1;
  transition:.5s;
  border-bottom:1px solid #7c7c7c71;
}

/*logo와 menu를 플렉스해서 flex-basis로 자리차지*/
.nav__logo{
  text-align: right;
  width: 220px;
  height: 35px;
  flex-basis: 17%;
  margin-top: 20px;
  margin-right: 20px;
}
.nav__menu{
  flex-basis: 70%;
}

/*메인 메뉴*/
.nav__menu__container{
  display: flex;
  width: 100%;
  height: 100%;
}
.nav__menu__item{
  width: 100%;
  text-align: center;
}

#mainmenu{
  display: block;
  color: white;
  width: 60%;
  height: 100%;
  line-height: 80px;
  margin: 0 auto;
}

.nav__menu__item:hover #mainmenu{
  border-bottom:1px solid #0065e9;
  color: #0065e9 !important;
  font-weight: var(--weight-bold);
  transition: all 0.3s;
}

/*서브 메뉴*/
.nav__submenu__container{
  display: none;
  padding-top: 10px;
}
.nav__submenu__item{
  height: 40px;
  line-height: 40px;
}

.nav__submenu__item a{
  font-size: 16px;
}


.nav__submenu__bg{
  width: 100%;
  height: 310px;
  background-color: white;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  border-bottom:1px solid #7c7c7c71;
}


/*문의하기 버튼*/

.nav__menu__lastitem{
  flex-basis: 13%;
}
.contactbtn{
  font-size: var(--font-regular);
  display: block;
  width: 135px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  color: black;
  background-color: #FFFFFF;
  border-radius: .2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.contactbtn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.contactbtn:focus-visible {
  box-shadow: none;
}

.contactbtn:hover{
  background-color: #3086f6;
  color: white;
  transition: all 0.3s;
}

/*문의하기 버튼 2*/
.contactbtn2{
  font-size: var(--font-regular);
  display: block;
  width: 135px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  color: white;
  background-color: #3086f6;
  border-radius: .2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.contactbtn2:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.contactbtn2:focus-visible {
  box-shadow: none;
}

.contactbtn2:hover{
  background-color: rgb(249,250,251);
  color: #000000;
  transition: all 0.3s;
}




/*Home*/  
#home{
  height: 1080px;
  /*outline: 1px solid red;*/
}

.home__carousel {
  position: relative;
  height: 1080px;
  width: 100%;
}

.home__container {
  height: 100%;
  width: 100%;
  position: relative;
}

.home__item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 1000ms;
}

.home__item:nth-child(1) {
  background: no-repeat url(../Mediaspine_Website/img/home01.jpg);
  opacity: 1;
}

.home__item:nth-child(2) {
  background: no-repeat url(../Mediaspine_Website/img/home02.jpg);
}

.home__item:nth-child(3) {
  background: no-repeat url(../Mediaspine_Website/img/home03.jpg);
}

.home__item[data-state=active] {
  display: block;
}

/*indicators*/
.home__indicators {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  text-align: left;
}

.home__indicator {
  cursor: pointer;
  border: none;
  background-color: rgba( 255, 255, 255, 0 );
  font-size: var(--font-small);
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: var(--weight-thin);
}

.fontactive{
  font-weight: var(--weight-bold);
}

/*home title, description*/
.home__title{
  color: white;
  display: inline-block;
  font-size: var(--font-biglarge);
  text-align: left;
  margin-top: 450px;
  width: 440px;
}

/*web font*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+KR:wght@100;400;700&display=swap');

.home__description{
  color: white;
  font-size: 50px;
  display: inline-block;
  text-align: left;
  margin-left: 30%;
  /*web font*/
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: var(--weight-thin);
  width: 350px;
}

/*home movebar*/
.home__movebar{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 10px;
}
.movebar__move{
  width: 33.3%;
  height: 2px;
  background-color: white;
}
.movebar__bar{
  width: 100%;
  height: 2px;
  background-color: #feffff;
  opacity: 50%;
  margin-top: -2px;
}

/*display*/
#display{
  height: 1080px;
  /*outline: 1px solid red;*/
}

/*타이틀 부분*/
.display{
  text-align: center;
}
.display__title{
  padding-top: 200px;
}
.display__description{
  padding-top: 30px;
}

/*아이콘 움직이는 부분*/
.display__slider ul{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  /*outline: 1px solid red;*/
}

.display__slider ul li{
  width: 290px;
  height: 170px;
  border-bottom: 1px solid #d4d4d4;
  /*outline: 1px solid red;*/
}

/*display li bottom부분 (파란색)*/
.bottomactive{
  border-bottom: 1px solid #3086f6 !important;
}

.display__slider ul li div{
  text-align: center;
}

.slider__title{
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-grey);
  padding-top: 5px;
  width: 150px;
  margin: 0 auto;
  /*outline: 1px solid red;*/
}


/*img태그가 중간정렬 되기 위해선
부모태그가 center, img태그는 display바꿔주기*/
.display__slider ul li div button{
  display: inline-block;
  width: 110px;
  height: 110px;
  background-color: #f1f6fd;
  border-radius: var(--size-border-radius);
  line-height: 110px;
  font-size: var(--font-micro);
  margin-top: 15px;
}
#displayicon01{
  background: url(../Mediaspine_Website/img/displayicon01.png);
}
#displayicon02{
  background: url(../Mediaspine_Website/img/displayicon02.png);
}
#displayicon03{
  background: url(../Mediaspine_Website/img/displayicon03.png);
}
#displayicon04{
  background: url(../Mediaspine_Website/img/displayicon04.png);
}

/*h2 active*/
.h2active{
  font-weight: var(--weight-bold);
  color: var(--color-black);
  font-size: var(--font-regular);
}



/*이미지 슬라이더 부분*/
.item__container{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  /*outline: 1px solid red;*/
}
.item{
  max-width: 1160px;
  width: 100%;
  /*outline: 1px solid red;*/
}

.item img{
  display: inline-block;
  width: 100%;
  height: 312px;
  text-align: center;
  line-height: 312px;
}

.item p{
  text-align: center;
  padding-top: 30px;
  /*outline: 1px solid yellow;*/
}

/*자세히보기 버튼 위치*/
.item div{
  margin: 0 auto;
  /*가운데 정렬 방법*/
  margin-top: 44px;
}

/*클릭하는 이미지버튼*/
.oneclick{
  display: block;
}
.twoclick{
  display: none;
}
.threeclick{
  display: none;
}
.fourclick{
  display: none;
}

/*fadein 페이드인 keyframe animation 키프레임 애니메이션*/
.fadein{
  webkit-animation: fadeIn 0.5s 0s 1 ease-in normal;
  -moz-animation: fadeIn 0.5s 0s 1 ease-in normal;
  -ms-animation: fadeIn 0.5s 0s 1 ease-in normal;
  -o-animation: fadeIn 0.5s 0s 1 ease-in normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {   
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {   
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}
@-o-keyframes fadeIn {   
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {   
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}



/*자세히보기 버튼 스타일*/
.more__btn{
  width: 130px;
  height: 20px;
  position: relative;
  font-size: var(--font-small);
  /*outline: 1px solid pink;*/
}

.more__btn a::after{
  content: "";
  background-image: url(img/arrow.png);
  width: 46px;
  height: 20px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.more__btn span{
  color: var(--color-blue);
}

/*solution*/
#solution{
  height: 1080px;
  background-color: #f3f3f8;
  /*outline: 1px solid red;*/
}

.solution__title{
  padding-top: 200px;
  text-align: center;
}

.solution__container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 95px;
  /*outline: 1px solid red;*/
}
.solution__container li{
  height: 522px;
  width: 35%;
  margin: 0 10px;
  background-color: white;
  /*outline: 1px solid yellow;*/
}
.solution__container li:first-child{
  margin-left: 0;
}
.solution__container li:last-child{
  margin-right: 0;
}

.solution__container li img{
  display: inline-block;
  width: 100%;
  height: 261px;
  text-align: center;
  line-height: 261px;
  /*outline: 1px solid pink;*/
}

/*good sticker*/
.solution__container li:nth-child(2){
  position: relative;
}
.solution__container li:nth-child(2)::after{
  content: "";
  display: block;
  width: 82px;
  height: 82px;
  background-image: url(../Mediaspine_Website/img/good.png);
  position: absolute;
  top: -40px;
  right: 0px;
  /*outline: 1px solid red;*/
}

/*solution font*/
.solution__font{
  margin: 0 auto;
  width: 55%;
  /*outline: 1px solid yellow;*/
}
.container__title{
  padding-top: 60px;
}
.container__description{
  padding-top: 16px;
  /*outline: 1px solid pink;*/
}
.solution__font div.more__btn{
 margin-top: 20px;
}

/*contents*/
#contents{
  height: 1080px;
  margin: 0 auto;
  /*outline: 1px solid red;*/
}

.contents__container{
  display: flex;
  align-items: center;
  padding-top: 200px;
}
.contents__title{
  width: 270px;
  margin-left: 10%;
  margin-right: 80px;
}
.gallery__container{
  display: flex;
  width: 100%;
}

.gallery{
  width: 20%;
  height: 620px;
  margin-right: 20px;
  transition: all 0.5s;
}


.last{
  padding: 0px;
}

.gallery__img{
  height: 380px;
  width: 210px;
  text-align: center;
  line-height: 420px;
  border: 1px solid #e7e7e7;
  transition: all 0.5s;
}

.gallery__title{
  padding-top: 40px;
  /*outline: 1px solid red;*/
}

.gallery__description{
  padding-top: 15px;
  font-size: var(--font-regular);
}

.gallery__description+div{
  margin-top:35px;
}

/*각각 다른 배경이미지*/
.gallery__container .gallery:nth-of-type(1) div:first-child{
  background: no-repeat url(../Mediaspine_Website/img/content01.jpg);
  background-size: cover;
}

.gallery__container .gallery:nth-of-type(2) div:first-child{
  background: no-repeat url(../Mediaspine_Website/img/content02.jpg);
  background-size: cover;
}

.gallery__container .gallery:nth-of-type(3) div:first-child{
  background: no-repeat url(../Mediaspine_Website/img/content03.jpg);
  background-size: cover;
}

.gallery__container .gallery:nth-of-type(4) div:first-child{
  background: no-repeat url(../Mediaspine_Website/img/content04.jpg);
  background-size: cover;
}

/*마우스 오버 했을 때 사용할 클래스*/



.containerover{
  width: 40%;
}

.containerout{
  width: 17%;
}

.imgover{
  width: 550px;
}

.imgout{
  width: 210px;
}


/*system*/

#system{
  height: 1080px;
  background-color: #f3f3f8;
  /*outline: 1px solid red;*/
}

.system__title{
  text-align: center;
  padding-top: 200px;
  /*outline: 1px solid red;*/
}

.system__description{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  /*outline: 1px solid red;*/
}

.system__container{
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  height: 570px;
  /*outline: 1px solid red;*/
}

.system__left{
  flex-basis: 35%;
  /*outline: 1px solid blue;*/
}

.left__container{
  display: flex;
  flex-direction: column;
  /*outline: 1px solid red;*/
}

.left__item{
  height: 140px;
  text-indent: 25%;
  line-height: 140px;
  margin-bottom: 3px;
  position: relative;
  background-color: #d1e5ff;
  font-size: 20px;
  text-align: left;
  /*outline: 1px solid red;*/
}

.active{
  background-color: #3086f6;
  color: white;
  font-weight: var(--weight-bold);
}

.active::before{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #73aace;
  position: absolute;
  top: 40%;
  left: 13%;
  background: no-repeat url(../Mediaspine_Website/img/check_btn.png);
}

.system__right{
  flex-basis: 65%;
  background-color: white;
}


/*system right -> display none부분*/

.system__right div:first-child{
}

.system__right div:first-child+div{
  display: none;
}
.system__right div:first-child+div+div{
  display: none;
}
.system__right div:first-child+div+div+div{
  display: none;
}


/*right item*/

.right__item img{
  display: block;
  height: 283px;
  text-align: center;
  line-height: 283px;
  width: 100%;
  /*outline: 1px solid red;*/
}

.right__item__content{
  width: 50%;
  margin: 0 auto;
  /*outline: 1px solid red;*/
}

.right__title{
  margin-top: 55px;
}

.right__description{
  padding-top: 20px;
}

.right__description+div.more__btn{
  margin-top: 50px;
}

/*reference*/
#reference{
  height: 1080px;
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
  /*outline: 1px solid red;*/
}

.reference__title{
  text-align: center;
  padding-top: 200px;
  /*outline: 1px solid red;*/
}

.reference__window{
  overflow: hidden;  /*check out container's movement : command + */
  position: relative;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 1400px; 
  height: 400px;
  left: 50%;
  top: 110px;
  /*outline: 1px solid red;*/
}

.reference__container{
  position: absolute;
  height: 400px;
  width: 1400px;
  /*outline: 1px solid green;*/
}

.reference__item{
  width: 275px;
  height: 400px;
  display: inline-block;
  margin: 2px;
  /*outline: 1px solid red;*/
}


/*reference controler*/


/*이전버튼*/
.before__btn{
  position: absolute;
  top: 560px;
  left: -60px;
  width: 40px;
  height: 40px;
  background-image:url(../Mediaspine_Website/img/before_btn.png);
}
.before__btn em{
  display: none;
}

/*이후버튼*/
.after__btn{
  position: absolute;
  top: 560px;
  right: -60px;
  width: 40px;
  height: 40px;
  background-image:url(../Mediaspine_Website/img/after_btn.png);
}
.after__btn em{
  display: none;
}


/*img, h2, p*/

.reference__item img{
  width: 275px;
  height: 400px;
}

.reference__item__title{
  margin-top: -130px;
  margin-left: 20px;
  color: white;
  /*outline: 1px solid skyblue;*/
}

.reference__item__description{
  margin-top: 15px;
  margin-left: 20px;
  color: white;
  /*outline: 1px solid pink;*/
}

/*contact*/
#contact{
  height: 700px;
  background-color: #f3f3f8;
  /*outline: 1px solid red;*/
}

.contact__container{
  padding-top: 150px;
  display: flex;
}
.contact__container img{
  display: block;
  height: 470px;
  width: 50%;
  text-align: center;
  line-height: 470px;
  /*outline: 1px solid red;*/
}
.contact__right{
  padding-left: 10%;
  /*outline: 1px solid red;*/
}
.contact__title{
  padding-top: 140px;
  /*outline: 1px solid red;*/
}
.contact__description{
  padding-top: 30px;
  /*outline: 1px solid red;*/
}

.contact__description+div.more__btn{
  margin-top: 40px;
}

/*footer*/
#footer{
  height: 240px;
  background-color: black;
  color: white;
  /*outline: 1px solid red;*/
}
#footer p{
  color: white;
}

.footer__container{
  max-width: 1400px;
  display: flex;
  padding-top: 30px;
  margin: 0 auto;
  /*outline: 1px solid red;*/
}
.footer__left{
  flex-basis: 85%;
  /*outline: 1px solid red;*/
}

.footer__left ul{
  display: flex;
}
.footer__left ul li{
  margin-right: 20px;
}
.footer__left ul li a{
  color: white;
}
.footer__address{
  padding-top: 70px;
}
.footer__rights{
  padding-top: 15px;
  color: var(--color-light-grey) !important;
}
.footer__right{
  flex-basis: 15%;
  /*outline: 1px solid red;*/
}


