/*Global*/
:root {
    /*Color*/
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /*Font-size*/
    --font-large: 35px;
    --font-medium: 25px;
    --font-regular: 17px;
    --font-small: 14px;
    --font-micro: 12px;
  
    /*Font-weight*/
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /*Radius*/
    --size-border-radius: 50%;
  }
  
  /*Universal tags*/
  * {
    box-sizing: border-box;
  }

  html, body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
  }
  
  body {
    cursor: default;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: var(--color-black);
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 0;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 0;
  }



/*Navbar*/

#nav{
    width: 100%;
    height: 80px;
    outline: 1px solid red;
    border-bottom: 1px solid #566171;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    /*java로 색상 바꿔야하는 부분*/
    color: white;
}

.nav__logo{
    padding-left: 5%;
}
.nav__menu{
    width: 70%;
    padding-right: 5%;
  }
.nav__menu__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Home*/  
#home{
  height: 1080px;
  outline: 1px solid red;
}

/*width, height값 모두 100%*/
.home__slider{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.home__img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  outline: 1px solid blue;
}

.home__container{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid blue;
  position: relative;
}

/*글자 white*/
.home__title, .home__description,
.slider__number a{
  color: var(--color-white);
}

/*home main img*/
#home ul li:first-child{
  background: no-repeat url(img/home01.jpg);
}



/*li display:none으로 자바 만들예정*/
#home ul li:first-child+li{
  display: none;
}
#home ul li:first-child+li+li{
  display: none;
}

/*번호 누르는 부분*/
.slider__controler{
  outline: 1px solid red;
  position: absolute;
  top: 530px;
  left: 40%;
}

.slider__move{
  width: 146px;
  height: 1px;
  background-color: yellowgreen;
}
.slider__bar{
  width: 440px;
  height: 2px;
  background-color: #7c7979;
}

/*display*/
#display{
  height: 1080px;
  outline: 1px solid red;
}

/*타이틀 부분*/
.display{
  text-align: center;
}
.display__title{
  padding-top: 200px;
}
.display__description{
  padding-top: 30px;
}

/*아이콘 움직이는 부분*/
.display__slider ul{
  display: flex;
  justify-content: center;
  outline: 1px solid red;
  padding-top: 30px;
}
.display__slider ul li{
  outline: 1px solid red;
  width: 290px;
  height: 160px;
}
.display__slider ul li div{
  text-align: center;
}
/*img태그가 중간정렬 되기 위해선
부모태그가 center, img태그는 display바꿔주기*/
.display__slider ul li div img{
  display: inline-block;
  width: 110px;
  height: 110px;
  background-color: #f1f6fd;
  border-radius: var(--size-border-radius);
  line-height: 110px;
  font-size: var(--font-micro);
}
.slider__title{
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  padding-top: 10px;
}

/*이미지 슬라이더 부분*/
.item__container{
  outline: 1px solid red;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.item{
  outline: 1px solid red;
  max-width: 1160px;
  width: 100%;
}

.item img{
  display: inline-block;
  outline: 1px solid blue;
  width: 100%;
  height: 312px;
  text-align: center;
  line-height: 312px;
}

.item p{
  text-align: center;
  padding-top: 30px;
  outline: 1px solid yellow;
}

/*자세히보기 버튼 위치*/
.item div{
  margin: 0 auto;
  /*가운데 정렬 방법*/
  margin-top: 44px;
}

.item__container div:first-child+div{
  display: none;
}
.item__container div:first-child+div+div{
  display: none;
}
.item__container div:first-child+div+div+div{
  display: none;
}

/*자세히보기 버튼 스타일*/
.more__btn{
  outline: 1px solid pink;
  width: 130px;
  height: 20px;
  position: relative;
}

.more__btn a::after{
  content: "";
  background-image: url(img/arrow.png);
  width: 46px;
  height: 20px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/*solution*/
#solution{
  height: 1080px;
  outline: 1px solid red;
  background-color: #fbfbfd;
}

.solution__title{
  padding-top: 200px;
  text-align: center;
}

.solution__container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  outline: 1px solid red;
  padding-top: 95px;
}
.solution__container li{
  outline: 1px solid yellowgreen;
  height: 522px;
  width: 35%;
  margin: 0 10px;
}
.solution__container li:first-child{
  margin-left: 0;
}
.solution__container li:last-child{
  margin-right: 0;
}

.solution__container li img{
  display: inline-block;
  width: 100%;
  height: 261px;
  outline: 1px solid pink;
  text-align: center;
  line-height: 261px;
}

/*good sticker*/
.solution__container li:nth-child(2){
  position: relative;
}
.solution__container li:nth-child(2)::after{
  content: "";
  display: block;
  width: 82px;
  height: 82px;
  background-image: url(../Mediaspine_Website/img/good.png);
  position: absolute;
  top: -40px;
  right: 0px;
  outline: 1px solid;
}

/*solution font*/
.solution__font{
  margin: 0 auto;
  outline: 1px solid yellow;
  width: 55%;
}
.container__title{
  padding-top: 60px;
}
.container__description{
  outline: 1px solid pink;
  padding-top: 16px;
}
.solution__font div.more__btn{
 margin-top: 20px;
}

/*contents*/
#contents{
  height: 1080px;
  outline: 1px solid red;
  margin: 0 auto;
  max-width: 1400px;
}

.contents__container{
  outline: 1px solid salmon;
  display: flex;
  align-items: center;
  padding-top: 200px;
}
.contents__title{
  width: 300px;
  margin-right: 80px;
}
.gallery__container{
  outline: 1px solid red;
  display: flex;
  width: 100%;
}

.gallery{
  height: 620px;
  width: 100%;
  padding-right: 20px;
}

.last{
  padding: 0px;
}

.gallery img{
  display: inline-block;
  outline: 1px solid red;
  height: 380px;
  width: 100%;
  text-align: center;
  line-height: 420px;
}

.gallery__title{
  padding-top: 40px;
  outline: 1px solid pink;
}

.gallery__description{
  padding-top: 15px;
  font-size: var(--font-small);
}

.gallery__description+div{
  margin-top:35px;
}

/*controler*/

.gallery__controler{
  outline: 1px solid blue;
  margin-top: 60px;
  margin-left: 30%;
}

.gallery__btn{
  outline: 1px solid red;
  position: relative;
}
.before__btn{
  outline: 1px solid blue;
  width: 24px;
  height: 24px;
  background-image:url(../Mediaspine_Website/img/before_btn.png);
}
.before__btn em{
  display: none;
}

.after__btn{
  outline: 1px solid blue;
  margin-left: 94%;
  width: 24px;
  height: 24px;
  background-image:url(../Mediaspine_Website/img/after_btn.png);
}
.after__btn em{
  display: none;
}

/*숫자 부분*/
.gallery__number{
  outline: 1px solid yellow;
  position: absolute;
  top: 4px;
  left: 40px;
  width: 92%;
}
.first__number{
  outline: 1px solid salmon;
  margin-right: 95%;
}
.last__number{
  outline: 1px solid salmon;
}

/*gallery bar*/
.gallery__move{
  position: absolute;
  top: 12px;
  left: 10%;
  width: 20%;
  height: 2px;
  background-color: yellowgreen;
}
.gallery__bar{
  position: absolute;
  top: 12px;
  left: 10%;
  width: 77%;
  height: 2px;
  background-color: #7c7979;
}


/*system*/

#system{
  height: 1080px;
  outline: 1px solid red;
  background-color: #fbfbfd;
}

.system__title{
  outline: 1px solid red;
  text-align: center;
  padding-top: 200px;
}

.system__description{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  outline: 1px solid red;
}

.system__container{
  outline: 1px solid red;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  height: 570px;
}

.system__left{
  outline: 1px solid blue;
  flex-basis: 30%;
}

.left__container{
  outline: 1px solid;
  display: flex;
  flex-direction: column;
}

.left__item{
  outline: 1px solid yellowgreen;
  height: 140px;
  text-indent: 20%;
  line-height: 140px;
  margin-bottom: 3px;
  position: relative;
  background-color: #eaf3ff;
}

.active{
  background-color: #3086f6;
  color: white;
}

.active::before{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #73aace;
  position: absolute;
  top: 40%;
  left: 10%;
  background: no-repeat url(../Mediaspine_Website/img/check_btn.png);
}

.system__right{
  flex-basis: 70%;
}


/*system right -> display none부분*/

.system__right div:first-child{
  outline: 1px solid yellow;
}

.system__right div:first-child+div{
  display: none;
}
.system__right div:first-child+div+div{
  display: none;
}
.system__right div:first-child+div+div+div{
  display: none;
}


/*right item*/

.right__item img{
  outline: 1px solid red;
  display: block;
  height: 283px;
  text-align: center;
  line-height: 283px;
  width: 100%;
}

.right__item__content{
  outline: 1px solid pink;
  width: 50%;
  margin: 0 auto;
}

.right__title{
  margin-top: 55px;
}

.right__description{
  padding-top: 20px;
}

.right__description+div.more__btn{
  margin-top: 50px;
}

/*reference*/
#reference{
  height: 1080px;
  outline: 1px solid red;
}
.reference__title{
  outline: 1px solid sandybrown;
  padding-top: 200px;
  text-align: center;
}

.reference__container{
  outline: 1px solid;
  display: flex;
  margin-top: 110px;
}
.reference__item{
  outline: 1px solid yellowgreen;
  height: 400px;
  margin: 0 3px;
  width: 100%;
}

.reference__item__title{
  outline: 1px solid pink;
  padding-top: 300px;
  padding-left: 10px;
  color: white;
}
.reference__item__description{
  outline : 1px solid palegoldenrod ;
  padding-top: 10px;
  padding-left: 10px;
  color: white;
}

/*reference__img*/

.reference__container div:nth-child(1){
  background-color: #bdbdbd;
}
.reference__container div:nth-child(2){
  background: no-repeat url(../Mediaspine_Website/img/reference01.jpg); 
}
.reference__container div:nth-child(3){
  background: no-repeat url(../Mediaspine_Website/img/reference02.jpg); 
}
.reference__container div:nth-child(4){
  background: no-repeat url(../Mediaspine_Website/img/reference03.jpg); 
}
.reference__container div:nth-child(5){
  background: no-repeat url(../Mediaspine_Website/img/reference04.jpg); 
}
.reference__container div:nth-child(6){
  background: no-repeat url(../Mediaspine_Website/img/reference05.jpg); 
}
.reference__container div:nth-child(7){
  background-color: #73aace;
}
.reference__container div:nth-child(8){
  background-color: #bdbdbd;
}





/*controler*/
.reference__controler{
  outline: 1px solid var(--color-blue);
  width: 1050px;
  margin: 0 auto;
  margin-top: 70px;
}


.reference__btn{
  outline: 1px solid red;
  position: relative;
}
.before__btn2{
  outline: 1px solid blue;
  width: 24px;
  height: 24px;
  background-image:url(../Mediaspine_Website/img/before_btn.png);
}
.before__btn2 em{
  display: none;
}

.after__btn2{
  outline: 1px solid blue;
  margin-left: 94%;
  width: 24px;
  height: 24px;
  background-image:url(../Mediaspine_Website/img/after_btn.png);
}
.after__btn2 em{
  display: none;
}

/*숫자 부분*/
.reference__number{
  outline: 1px solid yellow;
  position: absolute;
  top: 4px;
  left: 40px;
  width: 92%;
}
.first__number2{
  outline: 1px solid salmon;
  margin-right: 95%;
}
.last__number2{
  outline: 1px solid salmon;
}

/*reference bar*/
.reference__move{
  position: absolute;
  top: 12px;
  left: 10%;
  width: 20%;
  height: 2px;
  background-color: yellowgreen;
}
.reference__bar{
  position: absolute;
  top: 12px;
  left: 10%;
  width: 77%;
  height: 2px;
  background-color: #7c7979;
}




/*contact*/
#contact{
  outline: 1px solid salmon;
  height: 840px;
}

.contact__container{
  padding-top: 180px;
  display: flex;
}
.contact__container img{
  display: block;
  outline: 1px solid red;
  height: 470px;
  width: 50%;
  text-align: center;
  line-height: 470px;
}
.contact__right{
  outline: 1px solid var(--color-blue);
  padding-left: 10%;
}
.contact__title{
  padding-top: 140px;
  outline: 1px solid yellowgreen;
}
.contact__description{
  outline: 1px solid slateblue;
  padding-top: 30px;
}
.contact__description+div.more__btn{
  margin-top: 40px;
}

/*footer*/
#footer{
  outline: 1px solid salmon;
  height: 240px;
  background-color: black;
  color: white;
}

.footer__container{
  max-width: 1400px;
  display: flex;
  outline: 1px solid yellow;
  padding-top: 30px;
  margin: 0 auto;
}
.footer__left{
  flex-basis: 85%;
  outline: 1px solid wheat;
}

.footer__left ul{
  display: flex;
}
.footer__left ul li{
  margin-right: 20px;
}
.footer__address{
  padding-top: 70px;
}
.footer__rights{
  padding-top: 15px;
}

.footer__right{
  flex-basis: 15%;
  outline: 1px solid wheat;
}

#footer p{
  color: white;
}


